<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi nihil in et optio iusto. Sit ullam eaque recusandae, nesciunt consectetur quae quam blanditiis impedit totam magni laboriosam voluptates illo minus.</p>
        <p>Nemo, sed, quas facilis accusantium vitae, porro optio quis saepe asperiores quae minima consequatur ipsum temporibus nisi nobis ab odio. Tenetur dolore doloremque illum libero explicabo consequuntur excepturi nisi perspiciatis.</p>
        <p>Ratione sit, aliquam quas aperiam aspernatur minus nostrum cumque eveniet ullam tempora eaque id facere nihil placeat esse hic quisquam, cupiditate sed error modi, voluptate perspiciatis consequuntur delectus! Earum, corporis!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>